body {
  background-color: #f9f8eb;
}

h1 {
  color: #74b49b;
}

h2 {
  color: #74b49b;
}

h3 {
  color: #a7d7c5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #a7d7c5;
  border-width: 5px;
  width: 4%;
}
